<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Profile</title>
</head>
<body>
    <h1>Hello {{user.name}}</h1>
    <h2>Your Saved Nonprofits</h2>

    <table>
        <thead>
            <tr>
                <td>Organization Name</td>
                <td>City</td>
                <td>State</td>
                <td>Impact Area</td>
                <td>Website</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>